
block content
  .container
    h1.page-header SurveyList
    
    
    table.table.table-bordered
      thead
        tr
          th 설문조사명
          th 조사팀/조사자
          th 생성날짜
          th 조회수
      tbody
      
      
