.navbar.navbar-inverse.navbar-fixed-top
  .container
    .navbar-header
      button.navbar-toggle(type='button', data-toggle='collapse', data-target = '.navbar-collapse')
        span.icon-bar
        span.icon-bar
        span.icon-bar
        span.icon-bar
        span.icon-bar
      a.navbar-brand(href='/') postcheck
    .collapse.navbar-collapse
      ul.nav.navbar-nav
          if (currentUser)
            li
              a(herf='/users/#{currentUser.id}') Profile
            li
              a(href='/signout') survey만들기
            li
              a(href='/signout') signout
          else
            li
              a(href = '/signin') signin
            li
              a(href='/users/new') signup
